chardet>=2.3.0
GitPython>=1.0.2
python-Levenshtein>=0.12.0
PyYAML>=3.11
tqdm>=3.4.0
whatthepatch>=0.0.4
scikit-learn>=0.19.1
numpy>=1.14.1
scipy>=1.0.0
graphviz
-e git://github.com/cassianomonteiro/javalang.git@1664d3fc89e5a3bb01f2e1792a251601c275c5f8#egg=javalang
pika==0.11.2
pymongo==3.6.1
setuptools==38.5.1