chardet>=2.3.0
GitPython>=1.0.2
python-Levenshtein>=0.12.0
PyYAML>=3.11
tqdm>=3.4.0
whatthepatch>=0.0.4
scikit-learn>=0.19.1
numpy>=1.14.1
scipy>=1.0.0
-e git://github.com/cassianomonteiro/javalang.git@dd58acc9bd22f4d706747f7d0675016bfa82c0cb#egg=javalang